<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>ActionServlet</servlet-name>
        <servlet-class>com.ubl.jwp.servlet.ActionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ActionServlet</servlet-name>
        <url-pattern>/ActionServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.ubl.jwp.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/admin/LogoutServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>RegistrasiServlet</servlet-name>
        <servlet-class>com.ubl.jwp.servlet.RegistrasiServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrasiServlet</servlet-name>
        <url-pattern>/admin/RegistrasiServlet</url-pattern>
    </servlet-mapping>
    
    <filter>
        <filter-name>SessionFilter</filter-name>
        <filter-class>
            com.ubl.jwp.servlet.SessionFilter
        </filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SessionFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
